// Color Scheme
color-base                      =   palette('Light Blue', '800')
color-primary                   =   mix(color-base, mediumvioletred)
color-secondary                 =   mix(color-base, lightseagreen)
color-tertiary                  =   mix(color-base, mintcream)
color-complementary             =   spin(color-base, 180)

// Color Triad
triadic-secondary               =   spin(color-base, -(360 / 3))
triadic-tertiary                =   spin(color-base, (360 / 3))

// Gray Scale
white                           =   palette('White', '500')
light-gray                      =   palette('Grey', '50')
med-gray                        =   palette('Grey', '400')
dark-gray                       =   palette('Grey', '900')
black                           =   palette('Black','500')

base-background-color           =   #ffffff


base-font-family                =   'Open Sans', sans-serif
heading-font-family             =   'Raleway', sans-serif

base-font-size                  =   16
base-line-height                =   28
base-font-weight                =   400
base-font-color                 =   palette('Black','Text')
base-link-color                 =   color-tertiary


font-thin                       =   100
font-light                      =   300
font-regular                    =   400
font-medium                     =   500
font-semi-bold                  =   600
font-bold                       =   700
font-extra-bold                 =   800
font-ultra-bold                 =   900

h1-font-size                    =   32
h1-line-height                  =   38
h1-font-weight                  =   font-extra-bold
h1-color                        =   rgba(52, 52, 52, 1)

h2-font-size                    =   26
h2-line-height                  =   32
h2-font-weight                  =   font-thin
h2-color                        =   rgba(52, 52, 52, 1)

h3-font-size                    =   22
h3-line-height                  =   28
h3-font-weight                  =   font-thin
h3-color                        =   rgba(52, 52, 52, 1)

h4-font-size                    =   18
h4-line-height                  =   24
h4-font-weight                  =   font-regular
h4-color                        =   rgba(52, 52, 52, 1)

h5-font-size                    =   16
h5-line-height                  =   22
h5-font-weight                  =   font-regular
h5-color                        =   rgba(52, 52, 52, 1)

h6-font-size                    =   14
h6-line-height                  =   20
h6-font-weight                  =   font-regular
h6-color                        =   rgba(52, 52, 52, 1)

base-blockquote-font-family     =   sans-serif
base-blockquote-font-size       =   22
base-blockquote-line-height     =   28
base-blockquote-color           =   rgba(66, 66, 66, 1)
base-blockquote-cite-color      =   rgba(119, 119, 119, 1)

base-code-font-family           =   'courier new', monospace, serif
base-code-font-size             =   13
base-code-line-height           =   18
base-code-color                 =   rgba(39, 39, 39, 1)
base-code-background-color      =   rgba(241, 241, 241, 1)
base-code-border-color          =   rgba(215, 215, 215, 1)

base-placeholder-color          =   rgba(153, 153, 153, 1)

mobile-container                =   100%
tablet-container                =   20em //720px
desktop-container               =   40em //960px
hd-container                    =   60em //1120px

tablet-breakpoint               =   (tablet-container + 20)
desktop-breakpoint              =   (desktop-container + 20)
hd-breakpoint                   =   (hd-container + 20)
